#navItems {
    float: right;
}

#header {
    background-color: rgb(92, 158, 136);
    padding: 30px;
    margin-bottom: 10px;
}

#head {
    color:rgb(5, 48, 37);
    font-family: fantasy;
}

h1 {
    font-size: 50px;
}

a {
    color:rgb(5, 48, 37);
}
/*navigation bar end */
